.sort-link {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.sort-link.active-asc::after {
    content: " ▲";
}

.sort-link.active-desc::after {
    content: " ▼";
}

.product-row {
    cursor: pointer;
    transition: background 0.1s ease;
}

.product-row:nth-child(even) {
    background: var(--footer-background);
}
.product-row:nth-child(odd) {
    background: var(--background-color);
}


.product-row:hover {
    background: var(--banner-color);
    color: var(--secondary-text-color);
}